
header{
    background-color: black;
    color: salmon;
}

nav{
background-color: salmon;
color:black;
}

nav li {
    display: inline-block; text-decoration: none; padding: 2%;
}

footer{
    background-color: lightgrey;
}