
header{
    background-color: black;
    color: salmon;
}

header h1{
    /* display: flex;
    align-items: center; */
    text-align: center;
    font-family: 'Righteous', sans-serif;
    /* height: 95px; */
    padding: 40px;
}

nav{
    background-color: salmon;
    color:black;
}
    
nav li{
        display: inline-block; text-decoration: none; padding: 2%;
        height: 1px;
}



/* main {
    display: flex;
    width: 90% ;
    align-items: center;
} */


h2 {
    font-family: 'Righteous', sans-serif;
    font-size: 18pt;
}


th{
    font-family: 'Righteous', sans-serif;
    font-size: 16pt;
    background-color: lightgray;
    padding: 7px;
}

td{
    background-color: salmon;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}

footer{
    /* display: flex; */
    align-items: center;
    background-color: lightgrey;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
    /* height: 80px; */
}