
header{
    background-color: black;
    color: salmon;
}

h2{
    font-family: 'Righteous', sans-serif;
}


nav{
background-color: salmon;
color:black;
}

nav li {
    display: inline-block; text-decoration: none; padding: 2%;
}

footer{
    background-color: lightgrey;
}